# Environment variables
.env
.env.*
*.env
.env.local
**/.env
**/.env.*
**/.env.local

# Node modules
node_modules/
**/node_modules/

# Next.js & build outputs
.next/
**/.next/
out/
dist/
build/
.turbo/

# OS files
.DS_Store
Thumbs.db
